<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.bpm.flow.mapper.ActReProcdefMapper">

    <resultMap id="ActReProcdef" type="com.redxun.bpm.flow.entity.ActReProcdef">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="rev" column="REV_" jdbcType="NUMERIC"/>
                <result property="category" column="CATEGORY_" jdbcType="VARCHAR"/>
                <result property="name" column="NAME_" jdbcType="VARCHAR"/>
                <result property="key" column="KEY_" jdbcType="VARCHAR"/>
                <result property="version" column="VERSION_" jdbcType="NUMERIC"/>
                <result property="deploymentId" column="DEPLOYMENT_ID_" jdbcType="VARCHAR"/>
                <result property="resourceName" column="RESOURCE_NAME_" jdbcType="VARCHAR"/>
                <result property="dgrmResourceName" column="DGRM_RESOURCE_NAME_" jdbcType="VARCHAR"/>
                <result property="description" column="DESCRIPTION_" jdbcType="VARCHAR"/>
                <result property="hasStartFormKey" column="HAS_START_FORM_KEY_" jdbcType="NUMERIC"/>
                <result property="hasGraphicalNotation" column="HAS_GRAPHICAL_NOTATION_" jdbcType="NUMERIC"/>
                <result property="suspensionState" column="SUSPENSION_STATE_" jdbcType="NUMERIC"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="engineVersion" column="ENGINE_VERSION_" jdbcType="VARCHAR"/>
                <result property="appVersion" column="APP_VERSION_" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="query" resultType="com.redxun.bpm.flow.entity.ActReProcdef" parameterType="java.util.Map">
        select ID_,REV_,CATEGORY_,NAME_,KEY_,VERSION_,DEPLOYMENT_ID_,RESOURCE_NAME_,DGRM_RESOURCE_NAME_,DESCRIPTION_,HAS_START_FORM_KEY_,HAS_GRAPHICAL_NOTATION_,SUSPENSION_STATE_,TENANT_ID_,ENGINE_VERSION_,APP_VERSION_ from act_re_procdef
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

</mapper>


