<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.system.core.mapper.SysAuthRightsMapper">

    <resultMap id="SysAuthRights" type="com.redxun.system.core.entity.SysAuthRights">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="treeId" column="TREE_ID_" jdbcType="VARCHAR"/>
                <result property="treeName" column="TREE_NAME_" jdbcType="VARCHAR"/>
                <result property="settingId" column="SETTING_ID_" jdbcType="VARCHAR"/>
                <result property="rightJson" column="RIGHT_JSON_" jdbcType="CLOB"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="query" resultType="com.redxun.system.core.entity.SysAuthRights" parameterType="java.util.Map">
        select ID_,TREE_ID_,TREE_NAME_,SETTING_ID_,RIGHT_JSON_,TENANT_ID_,CREATE_DEP_ID_,CREATE_BY_,CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_ from sys_auth_rights
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

    <select id="getByTreeId" parameterType="java.lang.String" resultType="com.redxun.system.core.entity.SysAuthRights">
        select a.* from sys_auth_rights a,sys_auth_setting b
        where a.SETTING_ID_ = b.ID_ and ENABLE_='true' and TREE_ID_ like #{treeId}
    </select>
</mapper>


