<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.system.core.mapper.SysExternalApiMapper">

    <resultMap id="SysExternalApi" type="com.redxun.system.core.entity.SysExternalApi">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="service" column="SERVICE_" jdbcType="VARCHAR"/>
                <result property="apiName" column="API_NAME_" jdbcType="VARCHAR"/>
                <result property="body" column="BODY_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="headers" column="HEADERS_" jdbcType="VARCHAR"/>
                <result property="method" column="METHOD_" jdbcType="VARCHAR"/>
                <result property="params" column="PARAMS_" jdbcType="VARCHAR"/>
                <result property="path" column="PATH_" jdbcType="VARCHAR"/>
                <result property="type" column="TYPE_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="query" resultType="com.redxun.system.core.entity.SysExternalApi" parameterType="java.util.Map">
        select SERVICE_,API_NAME_,BODY_,CREATE_BY_,CREATE_DEP_ID_,CREATE_TIME_,HEADERS_,ID_,METHOD_,PARAMS_,PATH_,TENANT_ID_,UPDATE_BY_,UPDATE_TIME_,PATH_,TYPE_ from SYS_EXTERNAL_API
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

</mapper>


