<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.system.core.mapper.SysKettleDefMapper">

    <resultMap id="SysKettleDef" type="com.redxun.system.core.entity.SysKettleDef">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="DATE"/>
                <result property="gategory" column="GATEGORY_" jdbcType="VARCHAR"/>
                <result property="name" column="NAME_" jdbcType="VARCHAR"/>
                <result property="parameters" column="PARAMETERS_" jdbcType="VARCHAR"/>
                <result property="storeSetting" column="STORE_SETTING_" jdbcType="VARCHAR"/>
                <result property="storeType" column="STORE_TYPE_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="type" column="TYPE_" jdbcType="VARCHAR"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="DATE"/>
    </resultMap>


    <select id="query" resultType="com.redxun.system.core.entity.SysKettleDef" parameterType="java.util.Map">
        select CREATE_BY_,CREATE_DEP_ID_,CREATE_TIME_,GATEGORY_,ID_,NAME_,PARAMETERS_,STORE_SETTING_,STORE_TYPE_,TENANT_ID_,TYPE_,UPDATE_BY_,UPDATE_TIME_ from SYS_KETTLE_DEF
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

</mapper>


