<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.system.core.mapper.SysMenuReleaseMapper">

    <resultMap id="SysMenuRelease" type="com.redxun.system.core.entity.SysMenuRelease">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="releaseId" column="RELEASE_ID_" jdbcType="VARCHAR"/>
                <result property="menuId" column="MENU_ID_" jdbcType="VARCHAR"/>
                <result property="menuName" column="MENU_NAME_" jdbcType="VARCHAR"/>
                <result property="releaseUrl" column="RELEASE_URL_" jdbcType="VARCHAR"/>
                <result property="menuUrl" column="MENU_URL_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="query" resultType="com.redxun.system.core.entity.SysMenuRelease" parameterType="java.util.Map">
        select ID_,RELEASE_ID_,MENU_ID_,MENU_NAME_,RELEASE_URL_,MENU_URL_,TENANT_ID_,CREATE_DEP_ID_,CREATE_BY_,CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_ from SYS_MENU_RELEASE
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

</mapper>


