<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.redxun.system.core.mapper.SysTreeCatMapper">
    <select id="query" resultType="com.redxun.system.core.entity.SysTreeCat" parameterType="java.util.Map">
        select * from SYS_TREE_CAT
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  SN_ ASC
        </if>
    </select>

    <select id="getByKey" resultType="com.redxun.system.core.entity.SysTreeCat" parameterType="java.util.Map">
        select * from SYS_TREE_CAT where KEY_=#{key}
    </select>

</mapper>
