<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.user.org.mapper.OsInstUsersMapper">

    <resultMap id="OsInstUsers" type="com.redxun.user.org.entity.OsInstUsers">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="userId" column="USER_ID_" jdbcType="VARCHAR"/>
                <result property="isAdmin" column="IS_ADMIN_" jdbcType="NUMERIC"/>
                <result property="status" column="STATUS_" jdbcType="VARCHAR"/>
                <result property="approveUser" column="APPROVE_USER_" jdbcType="VARCHAR"/>
                <result property="createType" column="CREATE_TYPE_" jdbcType="VARCHAR"/>
                <result property="applyStatus" column="APPLY_STATUS_" jdbcType="VARCHAR"/>
                <result property="applyNote" column="APPLY_NOTE_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="query" resultType="com.redxun.user.org.entity.OsInstUsers" parameterType="java.util.Map">
        select ID_,USER_ID_,IS_ADMIN_,STATUS_,APPROVE_USER_,CREATE_TYPE_,APPLY_STATUS_,APPLY_NOTE_,TENANT_ID_,CREATE_DEP_ID_,CREATE_BY_,CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_ from OS_INST_USERS
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

    <select id="getByDomain"   parameterType="java.lang.String" resultMap="OsInstUsers">

		SELECT
		      oiu.*,ou.fullname_ as usFullName
		FROM
		      os_inst_users  oiu,os_user ou
		WHERE
		            oiu.TENANT_ID_=#{w.tenantId}
				and oiu.STATUS_='0'
				and oiu.APPLY_STATUS_='APPLY'
				and oiu.CREATE_TYPE_='APPLY'
				and oiu.USER_ID_=ou.USER_ID_
        <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
            AND ${w.whereSql}
        </if>
	</select>
</mapper>


