<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.form.core.mapper.CodeGenTemplateMapper">

    <resultMap id="CodeGenTemplate" type="com.redxun.form.core.entity.CodeGenTemplate">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="content" column="CONTENT_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="DATE"/>
                <result property="enabled" column="ENABLED_" jdbcType="VARCHAR"/>
                <result property="fileName" column="FILE_NAME_" jdbcType="VARCHAR"/>
                <result property="name" column="NAME_" jdbcType="VARCHAR"/>
                <result property="path" column="PATH_" jdbcType="VARCHAR"/>
                <result property="single" column="SINGLE_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="DATE"/>
    </resultMap>


    <select id="query" resultType="com.redxun.form.core.entity.CodeGenTemplate" parameterType="java.util.Map">
        select CREATE_BY_,CREATE_DEP_ID_,CREATE_TIME_,ENABLED_,FILE_NAME_,ID_,NAME_,PATH_,SINGLE_,TENANT_ID_,UPDATE_BY_,UPDATE_TIME_ from form_codegen_template
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

</mapper>


