<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.form.core.mapper.FormBoListMapper">
    <select id="query" resultType="com.redxun.form.core.entity.FormBoList" parameterType="java.util.Map">
        select
        ID_ ,NAME_ ,KEY_ ,DESCP_ ,IS_TREE_DLG_  ,DB_AS_ ,
        IS_DIALOG_ ,IS_GEN_ ,TREE_ID_ ,APP_ID_ ,EXT_JSON_,
        TENANT_ID_ ,CREATE_DEP_ID_ ,CREATE_BY_ ,
        CREATE_TIME_ ,UPDATE_BY_ ,UPDATE_TIME_
        from form_bo_list
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

</mapper>


