<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.form.core.mapper.FormEntRelationMapper">

    <resultMap id="FormEntRelation" type="com.redxun.form.core.entity.FormEntRelation">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="entId" column="ENT_ID_" jdbcType="VARCHAR"/>
                <result property="entName" column="ENT_NAME_" jdbcType="VARCHAR"/>
                <result property="relationConfig" column="RELATION_CONFIG_" jdbcType="VARCHAR"/>
                <result property="tableName" column="TABLE_NAME_" jdbcType="VARCHAR"/>
                <result property="promptField" column="PROMPT_FIELD_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="query" resultType="com.redxun.form.core.entity.FormEntRelation" parameterType="java.util.Map">
        select CREATE_BY_,CREATE_DEP_ID_,CREATE_TIME_,ENT_ID_,ENT_NAME_,ID_,RELATION_CONFIG_,TABLE_NAME_,TENANT_ID_,UPDATE_BY_,UPDATE_TIME_,PROMPT_FIELD_ from form_ent_relation
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

</mapper>


