<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.bpm.core.mapper.BpmAuthMapper">

    <resultMap id="BpmAuth" type="com.redxun.bpm.core.entity.BpmAuth">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="activeTime" column="ACTIVE_TIME_" jdbcType="VARCHAR"/>
                <result property="appId" column="APP_ID_" jdbcType="VARCHAR"/>
                <result property="authUserId" column="AUTH_USER_ID_" jdbcType="VARCHAR"/>
                <result property="authUserName" column="AUTH_USER_NAME_" jdbcType="VARCHAR"/>
                <result property="companyId" column="COMPANY_ID_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="delTime" column="DEL_TIME_" jdbcType="TIMESTAMP"/>
                <result property="delUserId" column="DEL_USER_ID_" jdbcType="VARCHAR"/>
                <result property="delUserName" column="DEL_USER_NAME_" jdbcType="VARCHAR"/>
                <result property="processKey" column="PROCESS_KEY_" jdbcType="VARCHAR"/>
                <result property="processName" column="PROCESS_NAME_" jdbcType="VARCHAR"/>
                <result property="status" column="STATUS_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="toAuthUserId" column="TO_AUTH_USER_ID_" jdbcType="VARCHAR"/>
                <result property="toAuthUserName" column="TO_AUTH_USER_NAME_" jdbcType="VARCHAR"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="query" resultType="com.redxun.bpm.core.entity.BpmAuth" parameterType="java.util.Map">
        select ACTIVE_TIME_,APP_ID_,AUTH_USER_ID_,AUTH_USER_NAME_,COMPANY_ID_,CREATE_BY_,CREATE_DEP_ID_,CREATE_TIME_,DEL_TIME_,DEL_USER_ID_,DEL_USER_NAME_,ID_,PROCESS_KEY_,PROCESS_NAME_,STATUS_,TENANT_ID_,TO_AUTH_USER_ID_,TO_AUTH_USER_NAME_,UPDATE_BY_,UPDATE_TIME_ from BPM_AUTH
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

    <select id="getByToAuthUserId" resultType="com.redxun.bpm.core.entity.BpmAuth" parameterType="java.util.Map">
        select a.* from bpm_auth a,bpm_def b where a.PROCESS_KEY_=b.KEY_ and b.IS_MAIN_='YES'
        <if test="@rx.Ognl@isNotEmpty(w.treeId)">
            and b.TREE_ID_=#{w.treeId}
        </if>
        and a.TO_AUTH_USER_ID_=#{w.curUserId} and a.STATUS_=#{w.status}
        and (a.ACTIVE_TIME_='长期' or a.ACTIVE_TIME_>#{w.activeTime})
    </select>

    <select id="getCountByToAuthUserId" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(1) from bpm_auth a,bpm_def b where a.PROCESS_KEY_=b.KEY_ and b.IS_MAIN_='YES'
        and b.TREE_ID_=#{w.treeId} and a.TO_AUTH_USER_ID_=#{w.curUserId} and a.STATUS_=#{w.status}
        and (a.ACTIVE_TIME_='长期' or a.ACTIVE_TIME_>#{w.activeTime})
    </select>
</mapper>


