<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.bpm.core.mapper.BpmCalGrantMapper">

    <resultMap id="BpmCalGrant" type="com.redxun.bpm.core.entity.BpmCalGrant">
                <id property="grantId" column="GRANT_ID_" jdbcType="VARCHAR"/>
                <result property="settingId" column="SETTING_ID_" jdbcType="VARCHAR"/>
                <result property="grantType" column="GRANT_TYPE_" jdbcType="VARCHAR"/>
                <result property="belongWho" column="BELONG_WHO_" jdbcType="VARCHAR"/>
                <result property="belongWhoId" column="BELONG_WHO_ID_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="query" resultType="com.redxun.bpm.core.entity.BpmCalGrant" parameterType="java.util.Map">
        select GRANT_ID_,SETTING_ID_,GRANT_TYPE_,BELONG_WHO_,BELONG_WHO_ID_,UPDATE_TIME_,UPDATE_BY_,CREATE_TIME_,
        CREATE_BY_,TENANT_ID_,CREATE_DEP_ID_ from bpm_cal_grant
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  GRANT_ID_ DESC
        </if>
    </select>

</mapper>


