<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.bpm.core.mapper.BpmCalTimeBlockMapper">

    <resultMap id="BpmCalTimeBlock" type="com.redxun.bpm.core.entity.BpmCalTimeBlock">
                <id property="settingId" column="SETTING_ID_" jdbcType="VARCHAR"/>
                <result property="settingName" column="SETTING_NAME_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="timeIntervals" column="TIME_INTERVALS_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="query" resultType="com.redxun.bpm.core.entity.BpmCalTimeBlock" parameterType="java.util.Map">
        select SETTING_ID_,SETTING_NAME_,UPDATE_TIME_,UPDATE_BY_,CREATE_TIME_,CREATE_BY_,TENANT_ID_,TIME_INTERVALS_,CREATE_DEP_ID_ from bpm_caltime_block
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  SETTING_ID_ DESC
        </if>
    </select>

</mapper>


