<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.bpm.core.mapper.BpmInstMsgMapper">

    <resultMap id="BpmInstMsg" type="com.redxun.bpm.core.entity.BpmInstMsg">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="instId" column="INST_ID_" jdbcType="VARCHAR"/>
                <result property="author" column="AUTHOR_" jdbcType="VARCHAR"/>
                <result property="authorId" column="AUTHOR_ID_" jdbcType="VARCHAR"/>
                <result property="content" column="CONTENT_" jdbcType="CLOB"/>
                <result property="fileId" column="FILE_ID_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="query" resultType="com.redxun.bpm.core.entity.BpmInstMsg" parameterType="java.util.Map">
        select ID_,INST_ID_,AUTHOR_,AUTHOR_ID_,CONTENT_,FILE_ID_,TENANT_ID_,CREATE_DEP_ID_,CREATE_BY_,CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_ from bpm_inst_msg
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

    <select id="getByInstId" resultType="com.redxun.bpm.core.entity.BpmInstMsg" parameterType="java.lang.String">
      select * from BPM_INST_MSG mg where mg.inst_id_=#{instId}  order by create_time_ desc
    </select>

    <insert id="archiveByArchiveDate">
		insert into BPM_INST_MSG_${tableId} select * from BPM_INST_MSG A
		WHERE EXISTS (SELECT 1 FROM BPM_INST B WHERE A.INST_ID_=B.INST_ID_ AND END_TIME_ &lt;=#{archiveDate} and B.TENANT_ID_=#{tenantId})
	</insert>

    <delete id="removeByArchiveDate">
        <if test="dbType=='mysql'">
            DELETE from BPM_INST_MSG A  WHERE EXISTS (SELECT 1 FROM BPM_INST B  WHERE A.INST_ID_=B.INST_ID_ and B.END_TIME_ &lt;=#{archiveDate}  and B.TENANT_ID_=#{tenantId}) limit ${batSize}
        </if>
        <if test="dbType=='sqlserver'">
            DELETE top(${batSize}) from BPM_INST_MSG A  WHERE EXISTS (SELECT 1 FROM BPM_INST B  WHERE A.INST_ID_=B.INST_ID_ and B.END_TIME_ &lt;=#{archiveDate}  and B.TENANT_ID_=#{tenantId})
        </if>
        <if test="dbType=='oracle'">
            DELETE from BPM_INST_MSG A  WHERE EXISTS (SELECT 1 FROM BPM_INST B   WHERE A.INST_ID_=B.INST_ID_ and B.END_TIME_ &lt;=#{archiveDate}  and B.TENANT_ID_=#{tenantId}) and rownum &lt;= ${batSize}
        </if>
    </delete>

    <delete id="delArchiveByInstId" parameterType="java.util.Map">
        delete from BPM_INST_MSG_${tableId} where INST_ID_=#{instId}
    </delete>

</mapper>


