<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.bpm.core.mapper.BpmInstDataMapper">

    <resultMap id="BpmInstData" type="com.redxun.bpm.core.entity.BpmInstData">
                <id property="id" column="ID_" jdbcType="VARCHAR"/>
                <result property="instId" column="INST_ID_" jdbcType="VARCHAR"/>
                <result property="pk" column="PK_" jdbcType="VARCHAR"/>
                <result property="bodefAlias" column="BODEF_ALIAS_" jdbcType="VARCHAR"/>
                <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
                <result property="createDepId" column="CREATE_DEP_ID_" jdbcType="VARCHAR"/>
                <result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
                <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
                <result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
                <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="query" resultType="com.redxun.bpm.core.entity.BpmInstData" parameterType="java.util.Map">
        select ID_,INST_ID_,PK_,BODEF_ALIAS_,TENANT_ID_,CREATE_DEP_ID_,CREATE_BY_,CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_ from bpm_inst_data
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

    <insert id="archiveByArchiveDate">
		insert into BPM_INST_DATA_${tableId} select * from BPM_INST_DATA A WHERE EXISTS (SELECT 1 FROM BPM_INST B WHERE A.INST_ID_=B.INST_ID_ AND END_TIME_ &lt;=#{archiveDate} and B.TENANT_ID_=#{tenantId})
	</insert>

    <delete id="removeByArchiveDate">
        <if test="dbType=='mysql'">
            DELETE from BPM_INST_DATA A  WHERE EXISTS (SELECT 1 FROM BPM_INST B  WHERE A.INST_ID_=B.INST_ID_ and B.END_TIME_ &lt;=#{archiveDate} and B.TENANT_ID_=#{tenantId}) limit ${batSize}
        </if>
        <if test="dbType=='sqlserver'">
            DELETE top(${batSize}) from BPM_INST_DATA A  WHERE EXISTS (SELECT 1 FROM BPM_INST B  WHERE A.INST_ID_=B.INST_ID_ and B.END_TIME_ &lt;=#{archiveDate}  and B.TENANT_ID_=#{tenantId})
        </if>
        <if test="dbType=='oracle'">
            DELETE from BPM_INST_DATA A  WHERE EXISTS (SELECT 1 FROM BPM_INST B   WHERE A.INST_ID_=B.INST_ID_ and B.END_TIME_ &lt;=#{archiveDate}  and B.TENANT_ID_=#{tenantId}) and rownum &lt;= ${batSize}
        </if>
	</delete>

    <select id="getByArchiveLog" resultType="com.redxun.bpm.core.entity.BpmInstData" parameterType="java.util.Map">
        select ID_,INST_ID_,PK_,BODEF_ALIAS_,TENANT_ID_,CREATE_DEP_ID_,CREATE_BY_,CREATE_TIME_,UPDATE_BY_,UPDATE_TIME_ from bpm_inst_data_${tableId} where INST_ID_=#{instId}
    </select>

    <delete id="delArchiveByInstId" parameterType="java.util.Map">
        delete from bpm_inst_data_${tableId} where INST_ID_=#{instId}
    </delete>

</mapper>


