<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redxun.form.bo.mapper.FormBoDefMapper">
    <select id="query" resultType="com.redxun.form.bo.entity.FormBoDef" parameterType="java.util.Map">
        select * from form_bo_def
        <where>
            <if test="@rx.Ognl@isNotEmpty(w.whereSql)">
                ${w.whereSql}
            </if>
        </where>
        <if test="@rx.Ognl@isNotEmpty(w.orderBySql)">
            ORDER BY ${w.orderBySql}
        </if>
        <if test="@rx.Ognl@isEmpty(w.orderBySql)">
            ORDER BY  ID_ DESC
        </if>
    </select>

    <select id="getAliasByFormAlias" resultType="java.lang.String">
        select b.ALIAS_ from form_pc a,form_bo_def b where a.BODEF_ID_=b.ID_ and a.ALIAS_=#{alias} and a.MAIN_=1
    </select>

</mapper>


